<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button">
    </button>
    <div
      class="collapse navbar-collapse justify-content-start"
      id="navbarCenteredExample">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="output">Generated CV</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="input">Your details</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
